body {
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: 600;
}

a {
    color: #0072ce;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    padding: 4px 0;
}

